PORT=3003
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/chat_portal_auth?schema=public"
JWT_ACCESS_SECRET="your-jwt-access-secret-key-min-32-chars"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="your-jwt-refresh-secret-key-min-32-chars"
JWT_REFRESH_EXPIRES_IN="7d"
USER_SERVICE_URL="http://localhost:3002"
